@import "../../base";

.details {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    padding: 10px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: rgba(65, 65, 65, 0.126);
    border: 1px solid rgba(255, 255, 255, 0.089);

    &__top {
        display: flex;
        justify-content: space-between;

        &__btn {

            button {
                border-radius: 10px;
                background-color: $black-primary;
                border: none;
                color: #FFFFFF;
                text-align: center;
                font-size: 16px;
                padding: 8px;
                width: 110px;
                transition: all 0.5s;
                cursor: pointer;
                margin-left: 10px;
            }

            button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

            button span:after {
                content: '»';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -15px;
                transition: 0.5s;
            }

            button:hover span {
                padding-right: 15px;
            }

            button:hover span:after {
                opacity: 1;
                right: 0;
            }
        }
    }

    &__money {
        text-align: center;
        font-size: 32px;
        font-weight: 400;
        color: $black-primary;
        margin-top: 20px;
    }

    &__main {
        h1 {
            display: flex;
            align-items: center;

            span {
                font-size: 50px;
                padding-bottom: 5px;
            }
        }

        h2 {
            font-size: 30px;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 20px;
            margin: 0;
            font-weight: 400;
            color: grey;
        }

        p {
            color: rgba(128, 128, 128, 0.846);
            margin-left: 50px;
        }

        div {
            font-size: 20px;
            font-weight: 400;
        }
    }
}

.confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    button {
        border-radius: 10px;
        background-color: rgba(255, 28, 28, 0.94);
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 16px;
        padding: 8px;
        width: 110px;
        transition: all 0.5s;
        cursor: pointer;
        margin-right: 0px;

        &:hover {
            background-color: rgba(170, 0, 0, 0.901);
        }
    }
}

@media (max-width: 600px) {
    .details {
        &__top {
            &__btn {
                display: flex;
                flex-direction: column;

                button {
                    margin-bottom: 10px;
                    font-size: 16px;
                    padding: 8px;
                    width: 110px;
                }
            }
        }

        &__money {
            text-align: center;
            font-size: 28px;
            font-weight: 400;
            margin-top: 0px;
        }

        &__main {
            h1 {
                display: flex;
                align-items: center;
    
                span {
                    font-size: 50px;
                    padding-bottom: 5px;
                }
            }
    
            h2 {
                font-size: 24px;
                margin-bottom: 20px;
            }
    
            h3 {
                font-size: 18px;
                margin: 0;
                font-weight: 400;
                color: grey;
            }
    
            div {
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}