@import "../../base";

.transactions{
    height: 92vh;
    width: 100%;

    &__container{
        height: 74vh;
        overflow: auto;
    }

    &__footer{
        position: fixed;
        bottom: 0px;
    }
}

@media (max-width: $breakpoint-small){
    
 }