* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}

$black-primary: #111111;
$black-secondary: #333333;
$white-text : #FFFFFF;

$breakpoint-large: 1100px;
$breakpoint-medium: 680px;
$breakpoint-small: 500px;

.app__container{
    margin-top: 8vh;
    .app__main{
        height: 92vh;
        margin-left: 240px;
    }
}

@media (max-width: $breakpoint-medium){
    .app__container{
        margin-top: 8vh;
        .app__main{
            height: 92vh;
            margin-left: 0px;
        }
    }
}