* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // transition: all 1s;
}

$black-primary: #111111;
$black-secondary: #333333;
$white-text : #FFFFFF;

$breakpoint-large: 1100px;
$breakpoint-medium: 680px;
$breakpoint-small: 500px;

